.loginbx{
    width: 370px;
    height: 600px;
    background: rgba(52, 51, 52, 0.353);
    color: #fff;
    top: 50%;
    left: 30%;
    position: absolute;
    transform: translate(-0%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.loginbx .logo {
    width: 80px;
    height: 80px;
    opacity: 0.9;
    border-radius: 20%;
    position: absolute;
    top: -45px;
    left: calc(55% - 50px);
  }
  .loginbx h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  .loginbx label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .loginbx input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .loginbx input[type="text"],
  .loginbx input[type="password"],
  .loginbx input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .loginbx input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .loginbx input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .loginbx a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .loginbx a:hover {
    color: rgb(182, 214, 41);
  }


.loginbx button {
  width: 100%;
  margin-bottom: 20px;
}


.loginbx button {
    border: none;
    outline: none;
    height: 30px;
    background: #ffc107;    
    border-radius: 20px;
  }    

.loginbx button a {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.loginbx button:hover {
    cursor: pointer;
    background: #b80f22;
    color: rgb(255, 255, 255);
  }


  .txtdinamic{
      width: 60px;
      height: 40px;
      color: #fff;
      font-size: 10px;
      line-height: 15px;
      font-family: Georgia, 'Times New Roman', Times, serif;

      position: absolute;
      top: -30%;
      right: 0;
      bottom: 0;
      left: 25%;
      margin: auto;

    }
