body {
    margin: 0;
    padding: 0;
    background: url(../img/found.jpg) no-repeat center top;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

p {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10%;
}

h2 a {
    color: white;
    text-decoration: none;
    list-style: none;
    padding-left: 10px;
    animation: cambiar 7s infinite;
}